@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* font-family: 'Kumbh Sans', sans-serif; */

.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
}
.card::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 62%;
  left: 30px;

  background-repeat: no-repeat;
  background-image: url("/images/bg-pattern-desktop.svg");

  background-position: -270px -400px;
}
.woman {
  transform: translateX(-140px);
}
.box {
  position: absolute;
  left: 230px;
  top: 320px;
  transition: 1s;
}
.box:hover {
  position: absolute;
  top: 295px;
  left: 210px;
}
.card {
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
  margin: 18vh auto 0;
  display: flex;
  width: 53%;

  padding-left: 35px;
  padding-bottom: 43px;
  padding-right: 10px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}
.images {
  width: 52%;
  margin-left: 0;
}

.heading {
  font-size: 30px;
  color: hsl(238, 29%, 16%);
  padding-bottom: 16px;
}
.faq__ques {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: hsl(237, 12%, 33%);
  line-height: 25px;
}
.faq__ans {
  color: hsl(237, 12%, 33%);
}
.hide {
  display: none;
}

.pair {
  padding-right: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  width: 290px;
}
.faq__quest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3px;
  padding-top: 10px;
}
.faq__quest:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}
.focus {
  font-weight: 700;
}
.rotate {
  transform: rotate(180deg);
}
.icon {
  transition: transform 0.3s ease-in;
  align-self: center;
}
.faq__ans {
  margin-top: 5px;
}
/* Media Queries */
@media (max-width: 800px) {
  .card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: url("/images/illustration-woman-online-mobile.svg"),
      url("/images/bg-pattern-mobile.svg");
    background-position: 25vw 20px, 170px 130px;
    background-repeat: no-repeat;
  }
  .card {
    margin: 20vh auto;
    max-width: 450px;
    min-width: 290px;
  }

  .images {
    display: none;
  }
}
